
initialize() {
        initializeTreeSeq();
        initializeMutationRate(0);
        initializeMutationType("m1", 0.5, "f", 0.0);
        initializeMutationType("m2", 1.0, "f", 0.1);        // introduced
        initializeGenomicElementType("g1", m1, 1.0);
        initializeGenomicElement(g1, 0, 10e6-1);
        initializeRecombinationRate(1e-8);
        initializeSex("A");
}

1 {
        defineConstant("simID", getSeed());
        sim.addSubpop("p1", 20000);
}



200000 late() {
        target = sample(p1.genomes, 1);
        target.addNewDrawnMutation(m2, 5e6);
        sim.treeSeqOutput("/tmp/slim_" + simID + ".trees");
}
200000: late() {
        mut = sim.mutationsOfType(m2);
        if (size(mut) == 1)
        {
                if (sim.mutationFrequencies(NULL, mut) > 0.8)
                {
                        cat(simID + ": ESTABLISHED\n");
                        mut.setSelectionCoeff(0.0);

                        sim.deregisterScriptBlock(self);
                   
                }
        }
        else
        {
                cat(simID + ": LOST – RESTARTING\n");
                sim.readFromPopulationFile("/tmp/slim_" + simID + ".trees");
                setSeed(rdunif(1, 0, asInteger(2^32) - 1));

        }
}

//               		  write sweep when it is done
202000 {
        sim.treeSeqOutput("/Users/kmt/Dropbox/Research/iHA/oldpartialsweep.trees");
        sim.simulationFinished();
}

