initialize() {
	
	initializeTreeSeq();
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeMutationType("m3", 1.0, "f", 0.1); // introduced
	initializeGenomicElement(g1, 0, 1e6-1);
	initializeRecombinationRate(1e-8);
	initializeSex("X");

}
1 {
	defineConstant("simID", getSeed());
	sim.addSubpop("p1", 2000);
}
1000 late() {
	target = sample(p1.genomes, 1);
	target.addNewDrawnMutation(m3, 5e5);
	sim.treeSeqOutput("/tmp/slim_" + simID + ".trees");
}
1000:10000 late() {
	if (sim.countOfMutationsOfType(m3) == 0) {
		if (sum(sim.substitutions.mutationType == m3) == 1) {
			cat(simID + ": FIXED\n");
		} else {
			cat(simID + ": LOST - RESTARTING\n");
			sim.readFromPopulationFile("/tmp/slim_" + simID + ".trees");
			setSeed(rdunif(1, 0, asInteger(2^32) - 1));
		}
	}


}

fitness(m3) {
	
	
	if (individual.sex == 'F') {

		return 1.0;
		
		}


}